/* --------------------------
  Main Styles
--------------------------- */
* {
    box-sizing: border-box;
  }
  
  body {
      font-family: 'Russo One', sans-serif;
      background-color: #3d88c2;
  }
  
  .main-header {
    text-align: center;
    background-color: #3d88c2; 
    color: #f7e5ff;
  }
  
  h1 {
    text-shadow: 2px 2px #000000;
  }
  
  ul.nav {
    padding-left: 0;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: #f7e5ff;
    border-radius: 10px;
    justify-content: space-around;
    align-items: stretch;
  }
  
  .nav a {
    color: #3d88c2;
    text-decoration: none;
    background-color: #f7e5ff;
  }
  
  .nav a:hover {
    color: #f7e5ff;
    background-color: #3d88c2;
    font-weight: bold;
  }
  
  h2 {
    text-align: center;
    text-shadow: 2px 2px #3d88c2;
  }

  .content {
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
  }

  .content-header {
	border-radius: 10px;
	background-color: #f7e5ff;
    margin-top: 5px;
    margin-bottom: 5px;
}

#contact {
  background-color: #eeeeee;
  border-radius: 10px;
  text-align: center;
}

#all-coasters,
#single-coaster,
#search-coasters,
#add-coasters,
#update-coaster,
#update-coaster-property,
#delete-coaster { 
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: #eeeeee;
  border-radius: 10px;
}

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 768px) {

    .nav {
      flex-direction: row;
      justify-content: space-around;
    }
    
    #all-coasters,
    #single-coaster,
    #search-coasters,
    #add-coasters,
    #update-coaster,
    #update-coaster-property,
    #delete-coaster{ 
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
  
  @media (min-width: 1025px) {
  
    .nav {
      align-self: center;
    }
  
    .figure {
      margin: 10px;
    }
  
    .main-header,
    .content-header,
    #about,
    #all-coasters,
    #single-coaster,
    #search-coasters,
    #add-coasters,
    #update-coaster,
    #update-coaster-property,
    #delete-coaster
    #contact,
    .main-footer {
      max-width: 1025px;
      margin: 5px auto;
    }
  }