<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <!-- Top Navigation Menu -->
<div class="topnav">
    <a href="#home" class="active" id="logo">CoasterCounts</a>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a href="#about">About</a>
      <a href="#all-coasters">All Coasters</a>
      <a href="#contact">Contact</a>
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()">
      <i class="fa fa-bars"></i>
    </a>
</div>
  <script src="/javascripts/scripts.js"></script>
</body>
<h1>CoasterCounts</h1>
<h2>Featured Coaster</h2>
<div class="container"></div>

<div class="main-footer">
    <a href=#top>Back to Top</a>
    <hr>
    <footer>
    <p>&copy;2022 Jim Falkenstine</p>
  </footer>
</div>
</html>



